/node_modules
/public/hot
/public/storage
/public/vueapp

/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

Modules


/resources/cupparis-primevue/*
/resources/cupparis-primevue
/resources/cupparis/*
/resources/cupparis
/resources/bootstrap-italia
/resources/bootstrap-italia/*



*DS_Store*
bootstrap/cache

storage/*

comp-update.sh

token.json

prod_logs
