@import "./assets/fonts/titillium/index.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.messages-container {
	scrollbar-gutter: stable;

	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background: #005a73;
	}

	&::-webkit-scrollbar-thumb {
		background: #005a73;
		border-radius: 4px;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #002d3a;
	}

	scrollbar-width: thin;
	scrollbar-color: #005a73 transparent;
}

.message-content {
	@apply text-base md:text-lg leading-relaxed transition-all duration-300;

	& p:only-of-type {
		@apply mb-0;
	}

	& p:not(:only-of-type):not(:last-of-type) {
		@apply mb-2 lg:mb-4;
	}

	& a {
		@apply text-primary hover:text-primary-darker underline;
	}

	& ul {
		@apply list-disc pl-6 mb-2 lg:mb-4;
	}

	& ol {
		@apply list-decimal pl-6 mb-2 lg:mb-4;
	}

	& li {
		@apply mb-1 lg:mb-2;
	}

	& h1 {
		@apply text-xl font-semibold mb-2 lg:mb-4;
	}

	& h2 {
		@apply text-xl font-semibold mb-1 lg:mb-3;
	}

	& h3 {
		@apply text-lg font-semibold mb-1 lg:mb-2;
	}

	& h4 {
		@apply text-base font-semibold mb-1 lg:mb-2;
	}

	& h5 {
		@apply text-sm font-semibold mb-1 lg:mb-2;
	}

	& h6 {
		@apply text-xs font-semibold mb-1 lg:mb-2;
	}

	& pre {
		@apply bg-primary-lighter p-2 lg:p-4 rounded-lg mb-2 lg:mb-4 overflow-x-auto;
	}

	& code {
		@apply bg-primary-lighter px-1 py-0.5 rounded;
	}

	& blockquote {
		@apply border-l-4 border-primary-lighter pl-2 lg:pl-4 italic my-2 lg:my-4;
	}

	& hr {
		@apply border-secondary-lighter my-2 lg:my-4;
	}

	& img {
		@apply max-w-full h-auto rounded-lg my-2 lg:my-4;
	}

	& table {
		@apply w-full border-collapse mb-2 lg:mb-4;
	}

	& th {
		@apply bg-primary-lighter text-left p-1 lg:p-2 border border-secondary-lighter;
	}

	& td {
		@apply p-1 lg:p-2 border border-secondary-lighter;
	}

	& thead {
		@apply bg-primary-lighter;
	}

	& tbody {
		@apply bg-white;
	}
}

button,
a,
input,
textarea,
select,
[tabindex]:not([tabindex="-1"]):not(button):not(a):not(input):not(textarea):not(
		select
	) {
	&:focus {
		@apply outline-none ring-4 ring-indigo-600 rounded-md;
	}
}
